<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <div>
            <span>名：</span>
            <span><input type="text" v-model="firstName"></span>
        </div>
        <div>
            <span>姓：</span>
            <span><input type="text" v-model="lastName"></span>
        </div>
        <div>{{fullName}}</div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        var app = new Vue({
            el: "#app",
            data: {
                firstName: 'Load',
                lastName: 'Jobs',
                fullName: 'Load Jobs' 
            },
            watch: {
                firstName(val) {
                    this.fullName = val + ' ' + this.lastName;
                },
                lastName(val) {
                    this.fullName = this.firstName + ' ' + val;
                }
            }
        })
    </script>
</body>

</html>